*{
    padding: 0px;
    margin: 0px;
    
}
.qq{
    background-image: url("t2.jpeg");
    background-position: center;
    background-size: cover;
    height: 400vh;
    
}
.a{
    background-color: #333333;
}

.a li{
    display: inline-table;
    font-size: 20px;
    opacity: .8;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    
}

.a li a{
    text-decoration: none;
    color: white;
    display: block;
    
}
.a li ul li{
    display: none;
    height: 70px;
}

.a li:hover ul li{
    display: block;
}


.a li a:hover{
    
    background-color: black;
}
.tit{
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    margin-left: 0px;
}
.qwe{
    text-align: center;
    font-size: 30px;
    margin-left: 0px;
    font-family: monospace;
}
.osama{
    color: #333;
    font-size: 25px;
}
.image{
    text-align: right;
    margin: 0px;
    height: 0px;
}
.achivment{
    color: red;
    font-size: 30px;
}
.achivment span{
    color: black;
    font-size: 20px;
}
.Recentwork{
    color: red;
    font-size: 30px;
    margin: 0px;
}
.Recentwork span{
    color: black;
    font-size: 20px;
}
.image2{
    text-align: right;
    margin: 0px;
    height: 0px;
}
.table, th, td {
    width: 300px;
    border: 2px solid black;
    color: yellow;
}
.awards span{
    font-size: 30px;
    color: red;
}
.other{
    font-size: 20px;
}
.other span{
    color: red;
    font-size: 25px;
}

.awards tr td{
    
    color: red;
}
.awards tr th{
    
    color: red;
}